/* Standard styles */
body {
  background-color: black;
  height: 960px;
}

/* Bootstrap customized styles */
.jumbotron {
  background-color: black;
}

/* Classes - Custom */
.container-columns {
  padding: 20px;
}

.panelBorder {
  border: 1px solid;
  margin: 5px;
}

/* IDs - Custom */
#lettersGuessed {
  letter-spacing: 5px;
  word-wrap: break-word;
}
